<div>
        
        <div class="form-group">
      
          <form role="form" (submit)="login()"><br>
            <div>
               <div>
               Username
               </div>
              <input class="form-control" type="text" required [(ngModel)]="user.username" id="username" name="username" >
             
            </div><br><br>
            <div>
             <div >
             Password
             </div>
              <input class="form-control" type="password" required [(ngModel)]="user.password" id="password" name="password" >
              
            </div><br><br>
            <button color="warn" type="submit" name="action">LOGIN</button><br><br>
            <span id="err"><small>{{errorMsg}}</small></span>
            
          </form >
        </div>
      </div>
      
      
      